@font-face {
	font-family: Barlow-400;
	font-weight: 400;
	src: url(./Assets/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf);
}
@font-face {
	font-family: Barlow-600;
	src: url(./Assets/Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.ttf);
	font-weight: 600;
}
:root {
	--Moderate-violet: hsl(263, 55%, 52%);
	--Very-dark-grayish-blue: hsl(217, 19%, 35%);
	--Very-dark-blackish-blue: hsl(219, 29%, 14%);
	--White: hsl(0, 0%, 100%);

	--Light-gray: hsl(0, 0%, 81%);
	--Light-grayish-blue: hsl(210, 46%, 95%);
}
* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
html {
	box-sizing: border-box;
	font-size: 81.25%;
}
body {
	box-sizing: inherit;
	font-family: Barlow-400;
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.items__container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 1.25rem;

	/* justify-content: space-between; */

	width: 70vw;
	height: max-content;
	border-radius: 10px;
	overflow: hidden;
}
@supports (flex-basis: max-content) {
	.items__container {
		flex-basis: max-content;
	}
}
.items {
	padding: 1.25rem 2.5rem;
	border-radius: 5px;
	width: 100%;

	display: flex;
	flex-direction: column;
}
.items > *:not(:last-child) {
	margin-bottom: 1.25rem;
}
.item-1 {
	grid-area: 1 / span 6 / 1 / span 1;

	background-color: var(--Moderate-violet);
}
.item-2 {
	grid-column: span 3;

	background-color: var(--Very-dark-grayish-blue);
}
.item-3 {
	grid-column: span 3;
	grid-row: span 2;

	background-color: var(--Light-grayish-blue);
}
.item-4 {
	grid-column: span 3;

	background-color: var(--Light-gray);
}
.item-5 {
	grid-column: span 6;

	background-color: var(--Very-dark-blackish-blue);
}
p {
	display: flex;

	/* flex-wrap: wrap; */
}
@supports (hyphens: auto) {
	p {
		hyphens: auto;
	}
}

.item__profile {
	align-self: flex-start;
	width: max-content;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.item__profile > *:not(:last-child) {
	margin-right: 1.25rem;
}
.item__profile > img {
	border-radius: 50%;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
