@font-face {
	font-family: Barlow-400;
	/* font-weight: 400; */
	src: url(./Assets/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf);
}
@font-face {
	font-family: Barlow-600;
	src: url(./Assets/Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.ttf);
	/* font-weight: 600; */
}
:root {
	--Moderate-violet: hsl(263, 55%, 52%);
	--Very-dark-grayish-blue: hsl(217, 19%, 35%);
	--Very-dark-blackish-blue: hsl(219, 29%, 14%);
	--White: hsl(0, 0%, 100%);

	--Light-gray: hsl(0, 0%, 81%);
	--Light-gray-2: hsl(0, 23%, 94%);
	--Light-grayish-blue: hsl(210, 46%, 95%);
}
* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
html {
	box-sizing: border-box;
	font-size: 81.25%;
}

body {
	box-sizing: inherit;
	font-family: Barlow-600;
	height: 100vh;
	color: var(--Light-grayish-blue);
	padding-bottom: 1.5rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	position: relative;
	background-color: var(--Light-grayish-blue);

	transform: scale(1.05);
}
.items__container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 1.875rem;

	/* justify-content: space-between; */

	width: 75vw;
	height: 65vh;
	border-radius: 10px;

	/* overflow: hidden; */
}

.items__container > *:first-child img,
.items__container > *:last-child img {
	border: 2px solid #a775f1;
}
@supports (flex-basis: max-content) {
	.items__container {
		flex-basis: max-content;
	}
}
.items {
	padding: 2rem 2.5rem;
	border-radius: 5px;
	width: 100%;

	display: flex;
	flex-direction: column;
}
.items > *:not(:last-child) {
	margin-bottom: 1.25rem;
}

.item-1 {
	grid-area: 1 / span 6 / 1 / span 1;

	background-color: var(--Moderate-violet);
	position: relative;
}
.item-1 > * {
	position: relative;
	z-index: 1;
}
.item-1-svg {
	position: absolute;

	top: 0;
	right: 15%;
}

.item-2 {
	grid-column: span 3;

	background-color: var(--Very-dark-grayish-blue);
}
.item-3 {
	grid-column: span 3;
	grid-row: span 2;
}
.item-4 {
	grid-column: span 3;
}

.item-3,
.item-4 {
	background-color: #fff;
	color: var(--Very-dark-grayish-blue);

	box-shadow: 0px 0px 4px 8px var(--Light-grayish-blue);
}

.item-5 {
	grid-column: span 6;

	background-color: var(--Very-dark-blackish-blue);
}
p {
	display: flex;

	text-justify: inter-word;
	/* flex-wrap: wrap; */
}
/* @supports (hyphens: auto) {
	p {
		hyphens: auto;
	}
} */
@supports (text-justify: inter-word) {
	p {
		text-justify: inter-word;
	}
}

.item__profile {
	align-self: flex-start;
	width: max-content;

	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.item__profile > img {
	width: 18%;
	border-radius: 50%;
}
.item__profile-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	margin-left: 1.25rem;
}
.item__profile-text > *:last-child {
	font-family: Barlow-600;
	opacity: 0.5;
	color: --white;
	font-size: 0.75rem;
}
.item__profile-text > *:first-child {
	font-size: 0.9rem;
	font-family: Barlow-600;
}

.item__intro {
	font-size: 1.25rem;
	letter-spacing: 1px;
	line-height: 1.65rem;
}
.item__details {
	opacity: 0.5;
	font-size: 0.875rem;
	letter-spacing: 0.7px;
	line-height: 1.18rem;
}

.attribution {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);

	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/* MEDIA QUERIES */
@media only screen and (min-width: 85em) {
	html {
		font-size: 100%;
	}
	.items__container {
		width: 80vw;
		height: 75vh;
	}
}
@media only screen and (max-width: 72em) {
	/* body {
		height: max-content;
		overflow: scroll;
	} */
	.items__container {
		grid-template-columns: none;
		grid-template-rows: auto;
	}
	.attribution {
		/* position: relative;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);

		font-size: 11px;
		text-align: center; */
	}
}
@media only screen and (max-width: 37.5em) {
	.items__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 2.5rem;
	}
}
